<%= simple_form_for(@user_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :location %>
    <%= f.input :hobbies %>
    <%= f.input :about_me %>
    <%= f.input :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
