<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_info.location %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @user_info.hobbies %>
</p>

<p>
  <strong>About me:</strong>
  <%= @user_info.about_me %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_info.string %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
