<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="container">

  <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" > -->
  <div class="userbox">
    <br>

    <div class="panel panel-info">
      <div class="panel-heading">
      <div class="panel-title">
        <% if current_user.id == @user.id %>
            <h3><%=  'My Profile ' %>
              <%= link_to edit_user_path(@user), class: "btn btn-sm btn-warning", type: "button", :data => {:toggle=>"tooltip"} do %>
              <i class="glyphicon glyphicon-edit" style="float:right"></i>
              <% end %>
            </h3>
        <% else %>
          <h3><%= @user.name + '\'s Profile ' %></h3>
        <% end %>
      </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <!-- <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div> -->
          <%= image_tag @user.avatar.url(:thumb), :class=>"col-md-3 col-lg-3 "  %>
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information user-info">
              <tbody>
                <tr>
                  <th>Age:</td>
                  <td><%= @user.age %></td>
                </tr>
                <tr>
                  <th>Location:</td>
                  <td><%= @user.location %></td>
                </tr>
                <tr>
                  <th>Hobbies:</td>
                  <td><%= @user.hobbies %></td>
                </tr>
                <tr>
                  <th>About Me:</td>
                  <td><%= @user.about_me %></td>
                </tr>
                <tr>
                  <th>Rooms Joined:</td>
                  <td>
                  <% @joined.each do |join| %>
                      <%= link_to (@rooms.find(join.room_id).name), @rooms.find(join.room_id) %>
                      <br>
                  <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Rooms Created:</td>
                  <td>
                  <% @created.each do |create| %>
                    <%= link_to (create.name), create%>
                    <br>
                 <% end %>
                 </td>
               </tr>
               <tr>
                 <th>Friends:</td>
                 <td>
                 <% @friends.each do |f| %>
                   <%= link_to (f.name), f%>
                   <br>
                <% end %>
                </td>
               </tr>
               <% if current_user.friend_with? @user %>
               <tr>
                  <th>Last login time:</td>
                  <td><%= @user.last_sign_in_at.localtime.strftime("%m/%d %I:%M%p") %></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="pull-right">

        <% if current_user != @user and user_signed_in?%>
            <% if current_user.friend_with? @user %>
              <%= link_to "Already Friends", root_path, class: "btn btn-sm disabled", type: "button"%>
            <% elsif @user.pending_invited_by.include? current_user%>
              <%= link_to "Friend Request Sent", root_path, class: "btn btn-sm disabled", type: "button"%>
            <% elsif current_user.pending_invited_by.include? @user%>
              <%= link_to "Confirm friend?", friend_path(@user), class: "btn btn-sm btn-warning", type: "button", :method => "put"%>
              <%= link_to "Delete Request", friend_path(@user), class: "btn btn-sm btn-warning", type: "button", :method => "delete"%>
            <% elsif !current_user.friend_with? @user%>
               <%= link_to "Add Friend?", friends_path(:user_id => params[:id]), class: "btn btn-sm btn-warning", type: "button", :method => "post"%>
            <%end%>
          <% end %>



      </span>
    </div>

  </div>


</div>


<!-- <%= link_to 'Home page', root_path %> -->
