<!DOCTYPE html>
<html>
    <head>
    <!-- <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>  -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
   <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' %>
    </head>
    
    <h1>Let's Do Stuff!</h1>


    <div id="content">
    <div class="links">
    <% if current_user.present? %>
    <%= link_to 'Create your own room', new_room_path %><br>
    <%= link_to 'Browse rooms', rooms_path %><br>
    <%= link_to 'Complete your profile', edit_user_path(current_user) 
    	%><br>
    <%= link_to 'My Profile', user_path(current_user) %>
    <br>
    <%= link_to 'Messages', messages_path %>
    <% end %>
    </div>
    </div>

</html>
