<!DOCTYPE html>
<html>
    <head>

    </head>

    <div id="spacing">
    <h2>Login</h2>

    <!-- <body> -->
        <%= form_tag do %>
          <%= label_tag(:username, "Username:") %>
          <%= text_field_tag(:username) %>
          <%= label_tag(:password, "Password:") %>
          <%= text_field_tag(:password) %>
          <%= submit_tag("Search") %>
        <% end %>
    </div>
    <!-- </body> -->
    <!-- </body> -->
    
</html>
