<!DOCTYPE html>
<html>
    <head>

    </head>
    
    <h1>Login</h1>

    <body>
        <%= form_tag do %>
          <%= label_tag(:username, "Username:") %>
          <%= text_field_tag(:username) %>
          <%= label_tag(:password, "Password:") %>
          <%= text_field_tag(:password) %>
          <%= submit_tag("Search") %>
        <% end %>
    </body>

</html>
