<%= simple_form_for(@room, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :private %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :location %> (5 digit ZIP code)</br>
    <b>Category</b><br><%= f.collection_select :category_id, Category.order(:name),:id,:name %>
  </div>

<br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
