<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2><%=  Category.find(@rooms.first.category_id).name %> Rooms</h2>
<table>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to (room.name), room %></td>
        <td> <%=room.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless @rooms.empty? %>
  <%= paginate @rooms %>
<% end %>
