<% if notice %>
<p id="notice"><%= notice %></p>
	<% end %>
<% if Category.exists?(params[:id]) %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>
			<%=  Category.find(params[:id]).name %> Rooms
		<%= link_to new_room_path, class: "btn btn-sm btn-success", type: "button", :data => {:toggle=>"tooltip"} do %>
			<i class="glyphicon" style="float:right">+</i>
		<% end %>
			</h2>
		</div>
		<% if @rooms.blank? %>
			 This category is empty. Create a room to start. 
		<% else %>

		<table class="table">
			<thead>
				<tr>
					<th>Room</th>
					<th>Description</th>
					<th>Private</th>
					<th>Creator</th>
				</tr>
			</thead>
			<tbody>
				<% @rooms.each do |room| %>
					<tr>
						<td><%= link_to (room.name), room %></td>
						<td><%=room.description %></td>
						<td><% if room.private %>
							Yes
							<% else %>
							No
							<% end %>
						</td>
						<td><%= link_to (User.find(room.creator_id).name), User.find(room.creator_id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>

<%end%>
<br>

<% unless @rooms.empty? %>
  <%= paginate @rooms %>
<% end %>
