<p id="notice"><%= notice %></p>

<h1> <%= @cateroyNam %> Listing</h1>

<table>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<td>
        <td><%= link_to 'Show', room %></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %><br>
<%= link_to 'Home', root_path %>
