<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% if Category.exists?(params[:id]) %>
<h2><%=  Category.find(params[:id]).name %> Rooms</h2>
	<center><%= link_to 'Create New Room', new_room_path %></center>
	<table>
	  <tbody>
	    <% @rooms.each do |room| %>
	      <tr>
	        <td><%= link_to (room.name), room %></td>
	        <td> <%=room.description %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<%end%>
<br>

<% unless @rooms.empty? %>
  <%= paginate @rooms %>
<% end %>
