<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% if Category.exists?(params[:id]) %>
<h2>
<%=  Category.find(params[:id]).name %> Rooms               
<%= link_to new_room_path, class: "btn btn-sm btn-success", type: "button", :data => {:toggle=>"tooltip"} do %>
	<i class="glyphicon glyphicon-plus" style="float:right"></i>
<% end %>
</h2>
	<table>
	  <tbody>
	    <% @rooms.each do |room| %>
	      <tr>
	        <td><%= link_to (room.name), room %></td>
	        <td> <%=room.description %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<%end%>
<br>

<% unless @rooms.empty? %>
  <%= paginate @rooms %>
<% end %>
