<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if user_signed_in? %>
<p>
  <div class="container">
      <div class="row profile">
      <div class="col-md-2">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic" >
            <!-- <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> -->
            <center style="border-bottom: 1px black solid;">
              <%=  @room.name %>
              <br>
              <%= room_category_name(@room) %>
              <br>
              <%= @room.location %>
              <br>
              <% if @room.private %>
                <i>Private</i>
              <% end %>
            </center>
            Date: <%= @room.date %>
            <br>
            Time: <%= @room.time.strftime("%I:%M %p %Z") %>
            <br style="border-bottom: 1px black solid;">
            <center style="border-top: 1px black solid">
            Created by: <%= room_creator_name(@room) %>
            </center>
            <center style="border-top: 1px black solid">
            Users in Room:
            <% users_in_room(@room).each do |user| %>
              <%= user %><br>
            <% end %>
            </center>
          </div>
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <% if !UserRoom.where(:user_id  => current_user.id, :room_id => @room.id).present? %>
                  <%= link_to 'Join room!', join_room_path(@room), method: :post %>
                <% else %>
                  <%= link_to 'Leave room!', quit_room_path(@room), method: :post %>
                <% end %>
              </li>

              <li class="active" class="panel panel-default">
              <!-- Default panel contents -->
              <!-- <div class="panel-heading"><b> -->
              <%= link_to '< Back', @room.category %>&nbsp&nbsp
             </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-content">
          <center>
            <h2> Chat </h2>
            <%= render "messages/index" %>
          </center>
        </div>
      </div>
    </div>
  </div>
</p>
<%end%>
