<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if user_signed_in? %>
<p>
  <div class="container">
      <div class="row profile">
      <div class="col-md-4">
          <%= link_to '< Back', @room.category %>
        <div class="chatside">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic" >
            <!-- <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> -->
            <center style="border-bottom: 1px black solid;">
              <h4><%=  @room.name %></h4>
              <%= room_category_name(@room) %> in <%= @room.location %>
              <br>
              <% if @room.private %>
                <i>Private</i>
                <br>
              <% end %>
              <%= @room.description %>
            <center style="border-top: 1px black solid;">
              <b>Date:</b> <%= @room.date %>
            <br>
            <b>Time:</b> <%= @room.time.strftime("%I:%M %p PST") %>
            <!-- taking out %Z because it's PST not UTC -->
            <br>
          </center>
            <center style="border-top: 1px black solid">
              <b>Created by:</b> <%= link_to (User.find(@room.creator_id).name), User.find(@room.creator_id) %>
            </center>
            <center style="border-top: 1px black solid">
              <b>Users in Room:</b><br>
            <% @joinedUsers.each do |juser| %>
              <%= link_to User.find(juser.user_id).name, User.find(juser.user_id) %>
              <br>
            <% end %>
            </center>
          </div>
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <% if !UserRoom.where(:user_id  => current_user.id, :room_id => @room.id).present? %>
                  <%= link_to 'Join room!', join_room_path(@room), method: :post %>
                <% else %>
                  <%= link_to 'Leave room!', quit_room_path(@room), method: :post %>
                <% end %>
              </li>

              <li class="active" class="panel panel-default">
              <!-- Default panel contents -->
              <!-- <div class="panel-heading"><b> -->
              <% if current_user.id == @room.creator_id %>
                  <%= link_to 'Edit', edit_room_path(@room) %>
                  <%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
             </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-content">
          <center>

            <h2> Chat </h2>
            <%= render "messages/index" %>
          </center>
        </div>
      </div>
    </div>
  </div>
</p>
<%end%>
