<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>
     <%= link_to 'Back', categories_path.to_s + "/" + @toback.to_s %>
     &nbsp&nbsp
     <%=  @room.name %></b>
  </div>
  <div class="panel-body">
    <strong>Description:</strong>
    <%= @room.description %>
    <br>
    <strong>Location:</strong>
    <%= @room.location %>
    <br>
    <strong>Category:</strong>
    <%= @room.category.name %>
    <br>
    <strong>Time:</strong>
    <%= @room.time %>
    <br>
    <% if @room.private %>
        <strong>This is a private room</strong>
    <% else %>
        <strong>This is not a private room</strong>
    <% end %>
    <br>
    <strong>&nbsp&nbsp&nbsp&nbspChat history:</strong>
    <br>
      <%= render "messages/index" %>
  </div>


</p>
<% if !UserRoom.where(:user_id  => current_user.id, :room_id => @room.id).present? %>
  <%= link_to 'Join the room!', join_room_path(@room), method: :post %>
<% else %>
  <%= link_to 'Quit the room!', quit_room_path(@room), method: :post %>
<% end %>
  <!-- <br>
<%= link_to 'My Profile', user_path %>
<br> -->
<!-- <%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %> | -->
</br>
