<p id="notice"><%= notice %></p>

<p>
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b><%= @room.name %></b></div>
  <div class="panel-body">
    <strong>Description:</strong>
    <%= @room.description %>
    <br>
    <strong>Location:</strong>
    <%= @room.location %>
    <br>
    <strong>Category:</strong>
    <%= @room.category.name %>
    <br>
    <strong>Time:</strong>
    <%= @room.time %>
    <br>
    <strong>Private:</strong>
    <%= @room.private %>
    <br>
      <%= render "messages/index" %>
  </div>






</p>

<%= link_to 'Join the room!', join_room_path(@room), method: :post %>
<br>
<%= link_to 'My Profile', user_path %>
<br>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
