<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
 <% if user_signed_in? %>
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>
  <%= link_to '< Back', categories_path.to_s + "/" + @toback.to_s %>&nbsp&nbsp

  <div class="right">
    <% if current_user.id == @room.creator_id %>
      <%= link_to 'Edit', edit_room_path(@room) %> |
      <%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div>

  <h2><%=  @room.name %></h2>
    </b>

  <div class="info">
    <strong>Description:</strong>
    <%= @room.description %>
    <br>
    <strong>Zip Code:</strong>
    <%= @room.location %>
    <br>
    <strong>Category:</strong>
    <%= @room.category.name %>
    <br>
    <strong>Date:</strong>
    <%= @room.date %>
    <br>
    <strong>Time:</strong>
    <%= @room.time.localtime.strftime("%H:%M%p") %>
    <br>
    <% if @room.private %>
      This is a <b>private</b> room
    <% else %>
        This is not a private room
    <% end %>
    <br>
    <strong> Created by: </strong>
    <td>&nbsp&nbsp&nbsp&nbsp<%= link_to (User.find(@room.creator_id).name), User.find(@room.creator_id) %></td>
    <br>
    <strong>Friends in this room:</strong>
    <% @joinedUsers.each do |u| %>
        <td>&nbsp&nbsp&nbsp&nbsp<td>
        <% if @room.creator_id != u.user_id %>
            <td><%= link_to (User.find(u.user_id).name), User.find(u.user_id) %></td>
        <% end %>
    <% end %>
  </div>

</div>
<div class="panel-body">
    <center>
    <!-- <strong> -->
    <!-- &nbsp&nbsp&nbsh3p&nbsp -->
    <h3>Chat history:</h3>
    <!-- </strong> -->
    <br>
      <%= render "messages/index" %>
    </center>
  </div>

</p>
<div class="nav1">
<% if !UserRoom.where(:user_id  => current_user.id, :room_id => @room.id).present? %>
  <%= link_to 'Join room!', join_room_path(@room), method: :post %>
<% else %>
  <%= link_to 'Leave room!', quit_room_path(@room), method: :post %>
<% end %>
  </div>
  <!-- <br>
<%= link_to 'My Profile', user_path %>
<br> -->
<%end%>
</br>
