<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>  
  <%= link_to '< Back', categories_path.to_s + "/" + @toback.to_s %>&nbsp&nbsp 
  <h3><%=  @room.name %></h3>
    </b>
  </div>
  <div class="panel-body">
    <strong>Description:</strong>
    <%= @room.description %>
    <br>
    <strong>Location:</strong>
    <%= @room.location %>
    <br>
    <strong>Category:</strong>
    <%= @room.category.name %>
    <br>
    <strong>Date:</strong>
    <%= @room.date %>
    <br>
    <strong>Time:</strong>
    <%= @room.time.strftime("%H:%M") %>
    <br>
    <% if @room.private %>
      This is a <b>private</b> room
    <% else %>
        This is not a private room
    <% end %>
    <br><br>

    <center>
    <!-- <strong> -->
    <!-- &nbsp&nbsp&nbsp&nbsp -->
    <h3>Chat history:</h3>
    <!-- </strong> -->
    <br>
      <%= render "messages/index" %>
    </center>
  </div>


</p>
<div class="nav1">
<% if !UserRoom.where(:user_id  => current_user.id, :room_id => @room.id).present? %>
  <%= link_to 'Join room!', join_room_path(@room), method: :post %>
<% else %>
  <%= link_to 'Leave room!', quit_room_path(@room), method: :post %>
<% end %>
  </div>
  <!-- <br>
<%= link_to 'My Profile', user_path %>
<br> -->
<% if current_user.id == @room.creator_id %>
  <%= link_to 'Edit', edit_room_path(@room) %> |
  <%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
</br>
