
<<<<<<< Updated upstream
<% if notice %>
=======
>>>>>>> Stashed changes
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <!-- <strong>Name:</strong> -->

  <% @cateroyNam = @category.name %>

<!--   <% @rooms.each do |room| %>
    <br>
    <%= room.name %>
  <% end %> -->
  <%= render "rooms/index" %>
</p>

<!-- <%= link_to 'Edit', edit_category_path(@category) %>  -->
	<div class="nav1"><%= link_to 'Back', root_path %></div>
