<p id="notice"><%= notice %></p>

<p>
  <strong>Rooms in :</strong>
  <%= @category.name %>

<!--   <% @rooms.each do |room| %>
    <br>
    <%= room.name %>
  <% end %> -->
  <%= render "rooms/index" %>
</p>

<%= link_to 'Back', root_path %>
