<!DOCTYPE html>
<html>
<head>
  <title>Let's Do Stuff</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
  <!--<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' %>
  <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= google_webfonts_init({
    google: ['Lobster', 'Slabo 27px']
  }) %>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!--<style type="text/css">
html, body {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #69D2E7;
}
body {
  background-color: #69D2E7;
  color: #333;
  font-family: 'Slabo 27px', serif;
  font-size: 15px;
}
h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  border-bottom: 2px black solid;
  padding-top: 10px;
  padding-bottom: -5px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgba(250,105,0,1);
  font-size: 45px;
  text-shadow: 1px 1px rgba(105,210,231,1);
}</style>-->

</head>
<body>
<div id="main">
<div id="nav">
  <% if current_user.present? %>
  	 <%= link_to 'Create your own room', new_room_path %>
    <%= link_to 'My Profile', user_path(current_user) %>
	 <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <%else%>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
  <%end%>
</div>

<BR><BR>

<!-- <div id="content"> -->
<%= yield %>
<!-- </div> -->

</div>

</body>
</html>
