<!DOCTYPE html>
<html>
<head>
  <title>LetsDoStuff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign in", new_user_session_path %>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<%= yield %>

</body>
</html>
