
<!DOCTYPE html>
<html>
<head>
  <title>Let's Do Stuff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
    <div id="main">
        <% if current_user.present? %>
            <div class="container">
                <div class="row profile">
                    <div class="col-md-3">
                        <div class="profile-sidebar">
                            <div class="profile-userpic">
                                <%= link_to 'Let\'s Do Stuff!', root_path, class: "navbar-brand" %>
                                <%= image_tag current_user.avatar.url(:thumb), :class=>"img-responsive" %>
                            </div>

                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    <%= link_to current_user.name, user_path(current_user) %>
                                </div>
                            </div>

                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <%= link_to '<i class="glyphicon glyphicon-home"></i>Browse Rooms'.html_safe, root_path %>
                                    </li>
                                    <li><%= link_to 'Create A New Room'.html_safe, new_room_path %></li>
                                        <li class="list1">
                                            <a style="cursor: pointer;"><span id="friendSpan">My Friends +</span></a>
                                         </li>
                                           <ul  visibility: hidden>
                                             <% if !current_user.friends.empty? %>
                                               <% current_user.friends.each do |friend| %>
                                                <li><%= link_to friend.name, user_path(friend)%></li>
                                               <%end%>
                                              <%else%>
                                                  <li>You have no friends! Make some by joining a room!</li>
                                             <% end %>
                                         </ul>

                                        <li class="list2">
                                            <a style="cursor: pointer;"><span id="friendRequestSpan">Friend Requests +</span></a>
                                        </li>
                                            <ul  visibility: hidden>
                                             <%if !current_user.pending_invited_by.empty?%>
                                               <% current_user.pending_invited_by.each do |request| %>
                                                  <li><%= link_to request.name, user_path(request)%></li>
                                               <% end %>
                                              <% else %>
                                                 <li>No pending requests</li>
                                             <% end %>
                                         </ul>

                                    <li>
                                        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-content">
                            <%= yield %>
                        </div>
                    </div>
                </div>
            </div>



        <% else %>
            <!-- <div class="profile-content"> -->
                <%= yield %>
            <!-- </div> -->
        <% end %>

    </div>

     <script type="text/javascript">
      $(document).ready(function() {


          $(".list1").click(function () {
            if(document.getElementById("friendSpan").innerHTML == "My Friends +"){
                $(this).next("ul").show(600);
               document.getElementById("friendSpan").innerHTML = "My Friends -";
             }else{
              if(document.getElementById("friendSpan").innerHTML == "My Friends -"){
                $(this).next("ul").hide(600);
               document.getElementById("friendSpan").innerHTML = "My Friends +";
              }
            }
        });

        $(".list2").click(function () {
             if(document.getElementById("friendRequestSpan").innerHTML == "Friend Requests +"){
                 $(this).next("ul").show(600);
                document.getElementById("friendRequestSpan").innerHTML = "Friend Requests -";
              }else{
               if(document.getElementById("friendRequestSpan").innerHTML == "Friend Requests -"){
                 $(this).next("ul").hide(600);
                document.getElementById("friendRequestSpan").innerHTML = "Friend Requests +";
               }
          }
      });



     });
    </script>


</body>
</html>
