<!DOCTYPE html>
<html>
<head>
  <title>Let's Do Stuff</title>
  <!--<link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
  <!--<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' %>
  <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div id="main">
<div class="container">
  <% if current_user.present? %>
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <!-- <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> -->
          <%= link_to 'Let\'s Do Stuff!', root_path, class: "navbar-brand" %>
          <%= image_tag current_user.avatar.url(:thumb), :class=>"img-responsive"  %>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
<!--             Marcus Doe-->      
          <%= link_to current_user.name, user_path(current_user) %>    
          </div>
<!--           <div class="profile-usertitle-job">
            Developer
          </div>-->        
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
<!--         <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
 -->        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <%= link_to '<i class="glyphicon glyphicon-home"></i>Create a new room'.html_safe, new_room_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>            
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
  <%else%>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
  <% end %>

    <div class="col-md-9">
      <div class="profile-content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

    <% if false %>

    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div id="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Let's Do Stuff!</a> -->
          <%= link_to 'Let\'s Do Stuff!', root_path, class: "navbar-brand" %>
        </div>
        <% if current_user.present? %>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style= "text-transform: none"> Friend Requests <span class="caret"></span></a>
                <ul class="dropdown-menu" >
                  <%if current_user.pending_invited_by.empty?%>
                     <li>No Pending Requests</li>
                  <% else %> 
                    <% current_user.pending_invited_by.each do |request| %>
                       <li><%= link_to request.name, user_path(request)%></li>
                    <% end %>
                  <% end %>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style= "text-transform: none"><%= current_user.name %> <span class="caret"></span></a>
                <ul class="dropdown-menu" >
          <li><%= link_to 'My Profile', user_path(current_user) %></li>
          <li><%= link_to 'Create a new room', new_room_path %></li>
          <li></lI>
        <%else%>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %>
        <%end%>
                </ul>
            </li>
          </ul>

      </div>
    </nav>

    <% end %>

    <BR><BR>

    <!-- <div id="content"> -->
    <!-- </div> -->

  </div>

</body>
</html>
