<!DOCTYPE html>
<html>
<head>
  <title>Let's Do Stuff</title>
  <!--<link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
  <!--<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' %>
  <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="main">
<div id="nav">
  <% if current_user.present? %>
  	<%= link_to 'Home', root_path %>
  	 <%= link_to 'Create your own room', new_room_path %>
    <%= link_to 'My Profile', user_path(current_user) %>
	 <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <%else%>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
  <%end%>
</div>

<BR><BR>

<!-- <div id="content"> -->
<%= yield %>
<!-- </div> -->

</div>

</body>
</html>
